%p.normal
  %label{ :for => "integrity_yammer_notify_oauth_yml" } Consumer Key
  %input.text#integrity_yammer_notify_oauth_yml{ :name => "notifiers[Yammer][oauth_yml]", :value => config["oauth_yml"] || "yammer_oauth.yml", :type => "text" }
